Home De Pédagogie Curative 
Tavannes 
1982 
1er
12'000 M3

Ecole Cantonale D'agriculture 
Loveresse
1983
1er 
Réalisé 
30'000 M3

Home Personnes Âgées 
Orvin 
1986 
1er 
Réalisé 
15'000 M3

Habitat (100 Unités)
Villeret 
1987 
1er 
En Cours 
60'000 M3

Habitat Ried De Madretsch 
Bienne 
1988 
1er 
Réalisé 
16'000 M3

Habitat+ Bureaux Dufour 
Bienne 
1990 
1er
En Cours 
25'000 M3

Migras Habitat-Ecole 
Bienne 
1992 
1er 
En Cours 
40'000 M3
Magasins Loeb Bienne 
1996 
1er 
En Cours 
40'000 M3

Pont Sur La Suze (Avec Balzari & Schudel)
Bienne 
1997 
1er 
En Cours




Imprimerie 
Abc Berne 
1989 
2ème

Quartier Marché-Neuf 2000 
Bienne 
1990 
2ème

Banque Cantonale 
Nidau 
1985 
2ème

Home Pour Personnes Âgées 
Brugg 
1984 
4ème

Habitat Rue De Lyon 
Geneve 
1992 
4ème

Home Pour Personnes Âgées 
Evilard 
1985 
5ème

Hôpital De Pourtalès 
Neuchatel 
1989 
5ème

Habitat Steinhof 
Burgdorf 
1988 
5ème

Gare Cff - Ptt - Quartier
Lugano 
1988 
6ème



Transformation Maison Du Peuple (Avec Andry Et Habermann)
Bienne 
1990 
Réalisé 
20'000 M3

Habitat Chemin Du Clos Bienne 
1989 
Atu-Prix

Administration Communale Et Salle Conseil De Ville
Bienne 
1985 
Réalisé 
40'000 M3

Aire Usine À Gaz (80'000 M2) Procédure D'expertise Et Planification Avec A. Tschumi Et Urbaplan Lausanne
Bienne 
1991

Habitat Coopérative Berghaus 
Bienne 1992 
En Cours 
150'000 M3

Habitat Pour Ciment Vigier 
Pery 
1992 
Réalisé 
20'000 M3

Habitat Hartmann Et Co.
Bienne 
1992 
En Cours 
20'000 M3

Rénovation Palais Des Congrès 
Bienne 
1994 
Réalisé

Villa Casablanca (Agrandissement) 
Bienne 
1995 
Réalisé 
1'525 M3

Habitat Route De Mâche (Seniorenw.) 
Bienne 
1996 
En Cours 
35'000 M3

Migros Marché-Neuf Bienne
1996 
En Cours 
34'000 M3



Atu Prix 1991 
(Prix Culturel Bernois Architecture-Technique)
Europaeischer Kalksandstein - Architekturpreis 1992 
Annerkennung